################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APICatalogo/FileContentIndex/337d45ee-d725-4906-8b26-3225e657d0c1.vsidx
/.vs/APICatalogo/FileContentIndex/637b9a4d-b05c-466f-83b3-239606820e42.vsidx
/.vs/APICatalogo/FileContentIndex/9aaebf98-ef37-46c5-9255-4e28f7705446.vsidx
/.vs/APICatalogo/FileContentIndex/read.lock
